.morePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--grey5);
}

.banner {
  width: 100%;
}

.morePageContent {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.arrowIcon {
  transform: rotate(180deg);
}

.bottomButtons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 25px auto 15px auto;
}

.bottomButton {
  width: 48%;
  background: none;
  border: none;
  color: var(--grey4);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
