.assetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  padding: 0px 20px 5px 20px;
}

.assetHeader .assetLeft {
  display: flex;
  align-items: center;
}

.assetLeft img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.assetHeader .name {
  font-weight: bold;
}

.assetHeader .assetRight {
  display: flex;
  align-items: center;
  color: red;
}

.assetHeader .profit {
  font-size: 13px;
  font-weight: 400;
}
