.tabList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey3);
}

.tabItem {
  padding: 15px 10px;
  color: var(--grey4);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid transparent;
}

.tabItem.active {
  color: var(--main);
  border-bottom-color: var(--main);
}

.tab-content {
  padding: 20px;
}

.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}
