.modalContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

@media (min-width: 400px) {
  .modalContainer {
    width: 360px;
  }
}

.orderForm {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 10px 20px;
}

.orderForm p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.orderForm p > span {
  color: var(--grey4);
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
}

.orderForm input[type="number"] {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid var(--grey2);
  background: var(--white);
}

.quickButtons button {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: none;
  color: var(--grey5);
  background-color: var(--grey1);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}

.quickButtons button:active {
  transform: translateY(-1px);
}

.modalContainer .submitOrder {
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

.modalContainer .buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modalContainer .buttonWrapper p {
  cursor: pointer;
  color: var(--grey5);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
}

.modalContainer .buttonWrapper p:active {
  transform: translateY(-1px);
}
