.assetSection {
  padding: 0 15px;
}

.assetTitle {
  font-size: 18px;
  font-weight: 600;
}

.assetItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.assetItem:last-child {
  border-bottom: none;
}

.assetInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.assetIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.assetName {
  font-size: 16px;
}

.assetDetails {
  font-size: 9px;
  font-weight: 400;
}

.assetValue {
  text-align: right;
}

.assetValue .value {
  font-size: 16px;
  font-weight: bold;
}

.change {
  font-size: 12px;
  color: var(--red);
}

.heartIcon {
  width: 18px;
  height: 18px;
}
