.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 15px 20px;
  color: #333;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 400px) {
  .header {
    width: 360px;
  }
}
