.myPageTitle {
  padding: 20px;
  font-size: 20px;
}

/*입출금 내역*/
.summarySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.summaryLabel {
  display: flex;
  flex-direction: column;
}

.summaryValue {
  font-weight: bold;
}
