.tableWrapper {
  overflow-x: auto;
}

.infoTable {
  width: 100%;
  border-collapse: collapse;
}

.infoTable th,
.infoTable td {
  min-width: 50px;
  padding: 8px 12px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.infoTable th {
  white-space: normal;
  font-size: 13px;
  font-weight: 400;
}

.infoTable .change {
  color: #ff0000;
}
