.tradeWrap {
  padding: 20px 20px 0px 20px;
}

.greyBackground {
  padding: 20px;
  background-color: var(--grey1);
}

.tradeWrap.displayFlex {
  display: flex;
  justify-content: space-between;
}

.tradeWrap.displayFlex > .title {
  margin: 0 0 10px 0;
}
.sidePadding {
  padding: 0px 20px 0px 20px;
}

.salesInfo {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  margin-bottom: 5px;
}

.salesInfo .col .row .title {
  font-size: 20px;
  font-weight: 700;
}

.salesInfo .info {
  font-size: 15px;
  color: var(--grey4);
}

.salesInfo .col:last-child .row {
  font-size: 20px;
  font-weight: bold;
}

.salesInfo .col:last-child .row:last-child {
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  color: var(--red);
}

.salesInfo .col2 .row {
  text-align: right;
}

.locationWrap {
  display: flex;
  align-items: center;
  padding-down: 20px;
  margin-top: -13px;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
}

.tradeWrap .locationWrap img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

/*차트 탭*/
.chartWrapper {
  display: block;
  padding-bottom: 15px;
}

.goToSpan {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  cursor: pointer;
}

.divideBox {
  weight: 100%;
  height: 9px;
  margin-top: 20px;
  background-color: var(--grey1);
}

.reputation {
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  padding: 30px 20px;
}

.reputation > .title {
  font-size: 20px;
  width: 90%;
  margin-bottom: 20px;
  font-weight: 700;
}

.info.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.disclosureWrap {
  padding: 10px 20px;
}

.rowWrap {
  padding: 10px 0px;
}

.orderBookTab .buttonWrapper {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  bottom: 10;
}
