.assetRankingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.assetRankingItem .rank {
  width: 15px;
  font-size: 17px;
  font-weight: 600;
}

.assetInfo {
  display: flex;
  align-items: center;
}

.assetRankingItem .assetIcon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-left: -70px;
  text-align: right;
}

.assetRankingItem .assetName {
  font-size: 18px;
  font-weight: 500;
}

.assetRankingItem .assetValue {
  width: 100px;
  text-align: right;
}

.assetValue .value {
  font-size: 14px;
  font-weight: bold;
}

.assetValue .change {
  font-size: 12px;
  color: var(--red);
}
