.timeline {
  background-color: #fff;
  border: "none";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineHeader {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.timelineItemNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.timelineItemInfo {
  color: var(--main);
  padding: 3px 6px;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

.timelineNote {
  width: 85%;
  margin-top: 20px;
  color: var(--grey4);
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}

.timelineNote img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.timelineNote span {
  margin-right: 5px;
}
